# Configurações do Banco de Dados
DB_USER=postgres
DB_HOST=localhost
DB_NAME=tattoo_studio
DB_PASS=tattoo123
DB_PORT=5432

# Configurações de Sessão
SESSION_SECRET=sua-chave-secreta-muito-segura-aqui

# Usuário Admin Padrão
USUARIO=admin
SENHA=1234

# Porta do Servidor
PORT=3001 